
bin/Debug/log.txt
bin/Debug/Migration1.ex_
bin/Debug/Migration1.zip
bin/Debug/Migration1.pdb
bin/x64/Debug/Migration1.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Migration1.csproj.CoreCompileInputs.cache
obj/Debug/Migration1.csproj.FileListAbsolute.txt
obj/Debug/Migration1.exe
obj/Debug/AssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/Migration1.csproj.CoreCompileInputs.cache
obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x64/Debug/Migration1.csproj.CoreCompileInputs.cache
obj/x64/Debug/Migration1.csprojAssemblyReference.cache
obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x64/Debug/Migration1.pdb
obj/x64/Debug/Migration1.exe
obj/Debug/Migration1.pdb
obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x64/Release/Migration1.csproj.CoreCompileInputs.cache
